<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!showToolbar">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!showToolbar" >Bolts</ion-title>
    <ion-searchbar #searchbar *ngIf="showToolbar"
      placeholder= "Pesquisar"
      [(ngModel)]="myInput"
      [showCancelButton]="true"
      (ionInput)="filter($event)"
      (ionCancel)="toggleSearchbar()"
      animated = "true"
      >
    </ion-searchbar>

    <ion-buttons end *ngIf="!showToolbar">
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-scroll scrollX="true" *ngIf="estabelecimentos.length > 0">
    <img src="assets/icon/pizza.png" class="categoria-img" />
    <img src="assets/icon/hamburger.png" class="categoria-img" />
    <img src="assets/icon/ice-cream.png" class="categoria-img" />
    <img src="assets/icon/restaurant.png" class="categoria-img" />
    <img src="assets/icon/acai.png" class="categoria-img" />
  </ion-scroll>
  
  <br>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <ion-list [virtualScroll]="filteredEstabelecimentos" approxItemHeight="60px">
    <ion-item *virtualItem="let estabelecimento" >
      <ion-avatar item-left >
        <ion-img *ngIf="estabelecimento.imagemCapa" alt="imagemCapa" [src]="estabelecimento.imagemCapa"></ion-img>
        <ion-img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg"></ion-img>
        <!--<img *ngIf="!loaded && estabelecimento.imagemCapa" src="assets/img/loading.gif"/>
        <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg">
        <img *ngIf="estabelecimento.imagemCapa" [hidden]="!loaded" alt="imagemCapa" (load)="loaded = true" [src]="estabelecimento.imagemCapa"/> -->
      </ion-avatar>
      <div (click)="onSelectEstabelecimento(estabelecimento)" >
        <span style="font-weight: 500">{{ estabelecimento.nome }}</span><br>
        <div class="telefone-wrapper">
            <div *ngIf="estabelecimento.telefone1.numero">
              <ion-icon [name]="estabelecimento.telefone1.whatsapp? 'logo-whatsapp': 'phone-portrait'"></ion-icon>&nbsp;{{estabelecimento.telefone1.numero}}&nbsp;&nbsp;&nbsp;              
            </div>  
            <div *ngIf="estabelecimento.telefone2.numero">
              <ion-icon [name]="estabelecimento.telefone2.whatsapp? 'logo-whatsapp': 'phone-portrait'"></ion-icon>&nbsp;{{estabelecimento.telefone2.numero}}
            </div>
        </div>
      </div>
      <button ion-button item-right small clear icon-only (click)="opcoes(estabelecimento)" >
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="estabelecimentos && bairros" >
    <button ion-fab color="primary" (click)="openModal()"><ion-icon name="options"></ion-icon></button>
  </ion-fab>
</ion-content>
