page-estabelecimentos {
    ion-item{
        height: 75px;
        font-weight: 600;
        font-size: 120%;
    }
    .telefone-wrapper{
        font-size: 75%;
        font-weight: 300;
    }

    .aviso{
        width: 100%;
        text-align: center;
    }
}
