<cabecalho></cabecalho>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!showToolbar">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!showToolbar" >Estabelecimentos</ion-title>
    <ion-searchbar #searchbar *ngIf="showToolbar"
      placeholder= "Pesquisar"
      [(ngModel)]="myInput"
      [showCancelButton]="true"
      (ionInput)="filter($event)"
      (ionCancel)="toggleSearchbar()"
      animated = "true"
      >
    </ion-searchbar>

    <ion-buttons end *ngIf="!showToolbar">
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <br>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <ion-list [virtualScroll]="filteredEstabelecimentos" approxItemHeight="60px">
    <ion-item-sliding *virtualItem="let estabelecimento" >
      <ion-item>
        <ion-avatar item-left >
          <img *ngIf="!loaded && estabelecimento.imagemCapa" src="assets/img/loading.gif"/>
          <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg">
          <img *ngIf="estabelecimento.imagemCapa" [hidden]="!loaded" alt="imagemCapa" (load)="loaded = true" [src]="estabelecimento.imagemCapa"/>
        </ion-avatar>
        <div (click)="onSelectEstabelecimento(estabelecimento)" >
          {{ estabelecimento.nome }}<br>
          <div class="telefone-wrapper">
              <div *ngIf="estabelecimento.telefone1.numero">
                <ion-icon [name]="estabelecimento.telefone1.whatsapp? 'logo-whatsapp': 'phone-portrait'"></ion-icon>&nbsp;{{estabelecimento.telefone1.numero}}&nbsp;&nbsp;&nbsp;              
              </div>  
              <div *ngIf="estabelecimento.telefone2.numero">
                <ion-icon [name]="estabelecimento.telefone2.whatsapp? 'logo-whatsapp': 'phone-portrait'"></ion-icon>&nbsp;{{estabelecimento.telefone2.numero}}
              </div>
          </div>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="blue" (click)="openChat(estabelecimento)" >
          <ion-icon name="text"></ion-icon>
          Chat
        </button>   
        <button (click)="call(estabelecimento)" ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Ligar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom *ngIf="estabelecimentos && bairros" >
    <button ion-fab color="primary" (click)="openModal()"><ion-icon name="options"></ion-icon></button>
  </ion-fab>
</ion-content>
