page-perfil {
    .titulo{ 
        color: white;
        font-weight: 500;
        margin-top: 11vw;
        font-size: x-large;
    }
    ion-grid{
        padding: 10px 5px 10px 5px;
    }
    ion-avatar{
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    ion-footer{
        padding: 7px;
    }
    .adicionar_endereco{
        margin-left: 26vw;
    }
}
