<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input [(ngModel)]="nome" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input [(ngModel)]="telefone" ></ion-input>
    </ion-item>
  </ion-list>

  <ion-label stacked style="margin-left: 5px" >{{enderecos.length > 0? 'Endereços':'Nenhum endereço cadastrado'}}</ion-label>
  <ion-card *ngFor="let endereco of enderecos">
    <ion-card-header>
      <button ion-button clear small class="excluir-endereco" (click)="excluirEndereco(endereco)" >x</button>
    </ion-card-header>
    <ion-card-content>
      {{endereco.descricao}}
    </ion-card-content>
  </ion-card>

  <button ion-button icon-left small outline class="adicionar_endereco" *ngIf="enderecos.length < 3" (click)="addEndereco()" >
    <ion-icon name="add"></ion-icon>
    Adicionar endereço
  </button>
</ion-content>

<ion-footer>
  <button ion-button block color="primary" (click)="onSubmit()" >Salvar</button>
</ion-footer>