<ion-header>
  <ion-navbar>
    <ion-title>{{estabelecimento? estabelecimento.nome: 'Bolts'}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs tabsHighlight="true" color="primary" class="tabs-basic" *ngIf="carregado && !cardapioVazio">
    <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabTitle]="tab.titulo" [rootParams]="tabParams" ></ion-tab>
  </ion-tabs>
  
  <ion-fab top right edge *ngIf="logado">
    <button ion-fab mini color="primary" [disabled]="adicionando" (click)="addToFavorito()" ><ion-icon [name]="favorito? 'heart': 'heart-outline'"></ion-icon></button>
  </ion-fab>
  <div *ngIf="cardapioVazio"> 
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-4 >
            <ion-avatar>
              <img *ngIf="estabelecimento.imagemCapa" [src]="estabelecimento.imagemCapa">
              <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col col-8 style="padding-left: 6px">
            <h4>{{estabelecimento.nome}}</h4>
            <div class="endereco">
              <ion-label>{{estabelecimento.endereco}}</ion-label>
              <ion-label>Telefone: {{estabelecimento.telefone}}</ion-label>
              <ion-label *ngIf="estabelecimento.celular">Celular: {{estabelecimento.celular.numero}} &nbsp;<ion-icon *ngIf="estabelecimento.celular.whatsapp" name="logo-whatsapp"></ion-icon></ion-label>
              <label class="aberto">Aberto</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="divisor"></ion-col>
        </ion-row>
      </ion-grid>
    <h4 padding>Ainda não há itens cadastrados nessa sessão. Em breve, novidades.</h4>
    <ion-fab center bottom>
      <button ion-fab mini color="primary"><ion-icon name="arrow-dropup"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab (click)="goToChat()"><ion-icon name="text"></ion-icon></button>
        <button ion-fab (click)="call()"><ion-icon name="call"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>