<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>O que você quer comer?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-top>
  <div class="center-spinner" *ngIf='isLoading && !updating'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <ion-list>
    <ion-item [class.selecionada]="categoria === categoriaSelecionada" *ngFor="let categoria of categorias" (click)="onSelectCategoria(categoria)" >
      <ion-avatar item-left>
        <img [src]="'assets/icon/'+categoria.$key+'.png'? 'assets/icon/'+categoria.$key+'.png': categoria.icone"/>
      </ion-avatar>
      <h2>{{categoria.nome}}</h2>
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="categoriaSelecionada" >
    <button ion-fab color="primary" (click)="irParaIngredientes()"><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>
</ion-content>
