<ion-header>
  <h4 style="margin: 15px">Filtros</h4>
</ion-header>
<ion-content>
  <hr>
  <div>
    <ion-list>
      <ion-item class="options">
        <ion-label stacked>Bairro de Entrega</ion-label>
        <ion-select [(ngModel)]="bairrosEntrega" placeholder="Selecione o bairro" multiple="true" >
          <ion-option *ngFor="let bairro of bairros" [value]="bairro.$key" > {{bairro.nome}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="options">
        <ion-label stacked>Bairro do estabelecimento</ion-label>
        <ion-select [(ngModel)]="bairrosLocalizacao" placeholder="Selecione o bairro" multiple="true" >
          <ion-option *ngFor="let bairro of bairros" [value]="bairro.$key" > {{bairro.nome}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="options">
        <ion-label floating>Categoria</ion-label>
        <ion-select [(ngModel)]="categorias" multiple="true" >
          <ion-option value="Pizzaria" > Pizzaria </ion-option>
          <ion-option value="Lanchonete" > Lanchonete </ion-option>
          <ion-option value="Restaurante" > Restaurante </ion-option>
          <ion-option value="Sorveteria" > Sorveteria </ion-option>
          <ion-option value="Açaí" > Açaí </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <button ion-button [clear]="true" (click)="dismiss()" >Cancelar</button>
      </ion-col>
      <ion-col>
        <button ion-button [clear]="true" (click)="onSubmit()" >Ok</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>