<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-header>
      {{pedido.estabelecimento_nome}}
    </ion-card-header>
    <ion-card-content>
      <b>Quantidade de itens:</b> {{pedido.itens.length}}<br>
      <b>Valor total:</b> {{pedido.valor_total | currency: 'BRL':true}}<br>
      <b>Endereço de entrega:</b> {{pedido.endereco}}<br>
      <b>status:</b> {{pedido.confirmado? 'Confirmado': 'Aguardando confirmação'}}<br>
      <b *ngIf="pedido.timestamp">Data:</b> {{pedido.timestamp | date:'dd/MM/yyyy'}}
    </ion-card-content>
  </ion-card>
</ion-content>
