<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-4 >
        <ion-avatar>
          <img *ngIf="estabelecimento.imagemCapa" [src]="estabelecimento.imagemCapa">
          <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col col-8 style="padding-left: 6px">
        <h4>{{estabelecimento.nome}}</h4>
        <div class="endereco">
          <ion-label>{{estabelecimento.endereco}}</ion-label>
          <ion-label>Telefone: {{estabelecimento.telefone}}</ion-label>
          <ion-label *ngIf="estabelecimento.celular">Celular: {{estabelecimento.celular.numero}} &nbsp;<ion-icon *ngIf="estabelecimento.celular.whatsapp" name="logo-whatsapp"></ion-icon></ion-label>
          <label class="aberto">Aberto</label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="divisor"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="center-spinner" *ngIf='loading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <div class="vazio" *ngIf="!loading && itens?.length == 0">
    <h4>Ainda não temos itens nessa seção. Aproveite as nossas outras ofertas.</h4>
  </div>
    <ion-card *ngFor="let item of itens" >
      <ion-card-content>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-3>
              <div>
                <ion-avatar>
                  <img *ngIf="item.imagem"[src]="item.imagem"/>
                  <img *ngIf="!item.imagem" src="assets/img/no-photo.jpg">
                </ion-avatar>
              </div>
            </ion-col>
            <ion-col col-8 offset-1 (click)="goToItem(item)" >
              
              <b>{{item.nome}}</b>
              <div class="descricao-lanche" *ngIf="item.ingredientes_truncados">
                {{item.ingredientes_truncados}}<br>
              </div>
              <div class="preco-lanche">
                R${{item.preco}}.00
              </div>
            </ion-col>
            <!--
            <ion-col col-2 align-self-center > 
                <button (click)="addToCart(lanche)" clear ion-button icon-only>
                  <ion-icon name="cart"></ion-icon>
                </button>
            </ion-col>
            -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-fab center bottom *ngIf="estabelecimento.telefone1 || estabelecimento.telefone2" >
      <button ion-fab mini color="primary" (click)="call()"><ion-icon name="call"></ion-icon></button>
    </ion-fab>
</ion-content>