page-tab1 {
    .vazio{
        margin: 10px;
    }
    .aberto{
        background-color: #66bb6a;
        font-style: bold;
        padding: 1px 2px 1px 2px;
        border: 1px;
        border-radius: 2px;
    }
}
