// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.center-align{
    text-align: center;
}

.contato{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

ion-spinner * {
    width: 60px;
    height: 60px;
    stroke: #444;
    fill: #222;
    display: block;
    margin: auto;
}

.center-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    padding-bottom: 4em; 
}

img.profile-picture {
  width: 7em;
  height: 7em;
  margin-top: 0.75em;
  border-radius: 50%;
}

ion-modal.settings {
    padding: 20% 10% 30% 10%;
    background: rgba(0,0,0,0.5);
}

.auth-bg {
  background: url("../assets/img/bg.jpg") no-repeat center;
  background-size: 100% 100%;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-content {
      width: 86%;

      .logo {
        margin: 20px auto 0;
        padding: 0.2em 1.35em 0.1em 0.4em;
        width: 1.5em;
        border-radius: 10%;
        font-size: 3em;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, light);
          }

          input {
            color: color($colors, light);
          }
        }
      }
    }
  }
}

.top{
    background: url("../assets/img/bg.jpg") no-repeat center;
    background-size: 100% 100%;
}
