<ion-menu [content]="content"  >
  <ion-content class="menu-left">
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <a menuClose>
        <div>
          <img class="profile-picture" *ngIf="user?.photoURL" alt="imagemCapa" [src]="user?.photoURL" (click)="goToPerfil()" />
          <img class="profile-picture" *ngIf="!user?.photoURL" alt="imagemCapa" src="assets/img/no-photo.jpg" (click)="goToPerfil()" />
          <h4 light (click)="goToPerfil()" >{{user? user.displayName: 'Bolts'}}</h4>
          <hr>
          <ion-list class="list-full-border">
            <div *ngIf="logado">
              <button class="item-menu" ion-item menuClose clear (click)="goToPerfil()" >
                <ion-icon item-left name="person"></ion-icon>Perfil
              </button>
              <button class="item-menu" ion-item menuClose clear (click)="goToPedidos()" >
                <ion-icon item-left name="basket"></ion-icon>Pedidos
              </button>
              <button class="item-menu" ion-item menuClose clear (click)="goToCarrinho()" >
                <ion-icon item-left name="cart"></ion-icon>Carrinho
              </button>
              <button class="item-menu" ion-item menuClose clear (click)="logout()" >
                <ion-icon item-left name="log-out"></ion-icon>Sair
              </button>
            </div>
          </ion-list>
        </div>
      </a>
    </div>
    <div menuClose class="contato" padding-left (click)="goToContato()" >
      <p><b>Entre em contato</b></p>
    </div>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
