<ion-header>

  <ion-navbar>
    <ion-title>
      Localização
    </ion-title>
    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="!localizado">
    <ion-item>
      <ion-label floating>Digite e selecione o endereço</ion-label>
      <ion-input type="text" [(ngModel)]="endereco" (focus)="showAddressModal()" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Número</ion-label>
      <ion-input type="text" [(ngModel)]="numero" clearInput="true" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Ponto de referência</ion-label>
      <ion-textarea [(ngModel)]="referencia"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button block [disabled]="!fullAddress.descricao" (click)="salvarEndereco()" *ngIf="!localizado">Salvar Endereço</button>
  
  <ion-list *ngIf="!localizado">
    <ion-item>
      <ion-label floating>Digite e selecione o cep</ion-label>
      <ion-input type="text" [(ngModel)]="cep" ></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="buscarPeloCep()" *ngIf="!localizado">Buscar pelo CEP</button>

  <ion-list *ngIf="localizado">
    <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-textarea disabled [(ngModel)]="this.fullAddress.logradouro" ></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Número e complemento</ion-label>
      <ion-input required type="text" #inputBairro [(ngModel)]="this.fullAddress.numero" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Nome do bairro</ion-label>
      <ion-input disabled type="text" #inputBairro [(ngModel)]="this.fullAddress.bairro" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Ponto de referência</ion-label>
      <ion-textarea required [(ngModel)]="this.fullAddress.referencia" ></ion-textarea>
    </ion-item>
  </ion-list>
  
  <button ion-button block [disabled]="this.fullAddress.numero == '' || this.fullAddress.referencia == ''" (click)="onSubmitEndereco()" >Salvar</button>

</ion-content>
