
<ion-header>

  <ion-navbar>
    <ion-title>{{lanche? lanche.nome: 'Detalhes'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="lanche">
    <ion-row>
      <ion-col width-80 offset-20>
        <img class="imagem-capa center-align" [src]="lanche.imagem">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="lanche">
    <ion-list-header>Ingredientes</ion-list-header>
    <ion-item *ngFor="let ingrediente of lanche.ingredientes" >
      <ion-label>{{ingrediente.charAt(0).toUpperCase() + ingrediente.slice(1)}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab left bottom >
    <button ion-fab color="primary" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom >
    <button [disabled]="justAddedToCart" ion-fab color="primary" (click)="addToCart()"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>
</ion-content>
