<ion-header>
  <ion-navbar>
    <ion-title>Monte seu lanche</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <h5 style="text-align: center" *ngIf="!isLoading">Quais os ingredientes que você deseja?</h5>
  <hr>
  <ion-list>
      <ion-item *ngFor="let ingrediente of ingredientes" >
        <ion-label>{{ingrediente.nome}}</ion-label>
        <ion-checkbox (ionChange)="onChange($event, ingrediente)" ></ion-checkbox>
      </ion-item>
  </ion-list>
   <ion-fab right bottom >
    <button ion-fab color="primary" (click)="filtrar()"><ion-icon name="arrow-forward"></ion-icon></button>
   </ion-fab>
</ion-content>  
