<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
    <ion-buttons end *ngIf="carrinho.estabelecimento" >
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

  <div class="vazio" *ngIf="!carrinho.estabelecimento">
    <h4>Você ainda não adicionou itens ao carrinho. Não perca tempo, faça já seu pedido.</h4>
    <button ion-button primary style="width: 100%" (click)="goBack()" >
        Visualizar ofertas
    </button>
  </div>
<!-- <ion-list [virtualScroll]="carrinho.itens" approxItemHeight="60px">
  <ion-item *virtualItem="let entrada" > -->
  <ion-list>
    <ion-item *ngFor="let entrada of carrinho.itens" >
      <ion-thumbnail item-left>
        <img [src]="entrada.item.imagem" *ngIf="entrada.item.imagem"  class="imagem-lanche">
        <ion-img *ngIf="!entrada.item.imagem" src="assets/img/no-photo.jpg" class="imagem-lanche"></ion-img>
      </ion-thumbnail>
      <h2>{{entrada.item.nome}}</h2>
      <p>R${{entrada.item.preco}}.00</p>
      <div item-right style="text-align: center" >
        <button class="botao-comprar" (click)="addItem(entrada)" block clear ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
        <p class="quantidade">{{entrada.quantidade}}</p>
        <button class="botao-comprar" (click)="removeItem(entrada)" block clear ion-button icon-only>
          <ion-icon name="remove"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
<!--
  <ion-card *ngFor="let entrada of carrinho.itens" >    
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-3 align-self-center>
            <img [src]="entrada.item.imagem" *ngIf="entrada.item.imagem"  class="imagem-lanche">
            <ion-img *ngIf="!entrada.item.imagem" src="assets/img/no-photo.jpg" class="imagem-lanche"></ion-img>
          </ion-col>
          <ion-col col-5 >
            <b><h5>{{entrada.item.nome}}</h5></b>
            R$ {{entrada.item.preco}},00
          </ion-col>
          <ion-col col-4>
            <ion-row>
              <ion-col>
                <button class="botao-comprar" (click)="addItem(entrada)" small clear ion-button icon-only>
                    <ion-icon name="add"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <span>{{entrada.quantidade}}</span>
              </ion-col>
              <ion-col>
                <button class="botao-comprar" (click)="removeItem(entrada)" small clear ion-button icon-only>
                  <ion-icon name="remove"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  -->

  <!--
  <ion-card *ngFor="let entrada of carrinho.itens" >    
    <ion-card-content>
      <ion-grid>
        <ion-row no-padding justify-content-center>
          <ion-col col-2>
            <ion-img [src]="entrada.item.imagem" class="imagem-lanche"></ion-img>
          </ion-col>
          <ion-col col-9 class="titulo-lanche" >
            <ion-row justify-content-center>
              <ion-col>
                {{entrada.item.nome}}
              </ion-col>
            </ion-row>
            <ion-row  justify-content-center>
              <ion-col col-9>
                <div class="descricao-lanche">
                  R$ {{entrada.item.preco}} X {{entrada.quantidade}}
                </div>
              </ion-col>
              <ion-col col-3> 
                <div>
                  <button (click)="addItem(item, index)" ion-button icon-only>
                      <ion-icon name="add"></ion-icon>
                  </button>
                  <button (click)="removeItem(item, index)" ion-button icon-only>
                    <ion-icon name="remove"></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  -->
</ion-content>

<ion-footer class="footer" *ngIf="carrinho.estabelecimento">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-7>
        <span class="total_compra">Total da compra: R${{carrinho.valor}},00</span>
      </ion-col>
      <ion-col col-5>
        <button  ion-button primary block outline (click)="fecharPedido()">Continuar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-footer>