<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-33 >
        <ion-avatar>
          <img [src]="estabelecimento.imagemCapa">
        </ion-avatar>
      </ion-col>
      <ion-col width-67 class="info">
        <h4>{{estabelecimento.nome}}</h4>
        <div class="endereco">
          <ion-label>{{estabelecimento.endereco}}</ion-label>
          <ion-label>Telefone: {{estabelecimento.telefone}}</ion-label>
          <ion-label *ngIf="estabelecimento.celular">Celular: {{estabelecimento.celular.numero}} &nbsp;<ion-icon *ngIf="estabelecimento.celular.whatsapp" name="logo-whatsapp"></ion-icon></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100 class="divisor"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="center-spinner" *ngIf='isLoadingCardapio'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
    <ion-card *ngFor="let lanche of lanches" >
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col width-20>
              <div class="valign">
                <ion-avatar>
                  <img [src]="lanche.imagem"/>
                </ion-avatar>
              </div>
            </ion-col>
            <ion-col width-67 class="titulo-lanche" (click)="goToLanche(lanche)" >
                <b>{{lanche.nome}}</b>
              <div class="descricao-lanche">
                {{lanche.ingredientes_truncados}}<br>
                <b>Preço:</b> {{lanche.preco}}
              </div>
            </ion-col>
            <ion-col width-10> 
              <div class="valign">
                <button class="botao-comprar" (click)="addToCart(lanche)" clear ion-button icon-only>
                  <ion-icon name="cart"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>