page-destaques {
    .imagemCapa{
        width: 100%;
        height: 100%;
    }
    .card-content-md{
        padding: 0px 16px 0px 0px;
    }
    .frase-destaque{
        font-size: small;
    }
}
