<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Destaques</ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content padding>
  <ion-slides autoplay="2500" loop="true" *ngIf="estabelecimentos" effect="fade">
    <ion-slide *ngFor="let estabelecimento of estabelecimentos">
      <ion-card>
        <img [src]="estabelecimento.imagemCapa" class="imagem-capa"/>
        <ion-card-content>
          <ion-card-title>
            {{estabelecimento.nome}}
            </ion-card-title>
          <p>
            {{estabelecimento.fraseDestaque}}
          </p>
        </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" (click)="onSelectEstabelecimento(estabelecimento)" icon-left>
                <ion-icon name='arrow-forward'></ion-icon>
                Visualizar
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small color="danger" (click)="call(estabelecimento)" icon-left>
                <ion-icon name='call'></ion-icon>
                Ligar
              </button>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
-->

<ion-content padding>
  <div class="center-spinner" *ngIf='isLoading'>
    <ion-spinner name="crescent" mode="md"></ion-spinner>
  </div>
  <ion-card *ngFor="let estabelecimento of estabelecimentos; let i = index" (click)="onSelectEstabelecimento(estabelecimento)" >
    <ion-card-content>
      <ion-row no-padding>
        <ion-col col-5 no-padding>
          <img *ngIf="estabelecimento.imagemCapa" [src]="estabelecimento.imagemCapa" class="imagemCapa">
          <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg" class="imagemCapa">
        </ion-col>
        <ion-col col-7 text-wrap>
          <h2>{{estabelecimento.nome}}</h2>
          <p class="frase-destaque" ion-text>
            {{estabelecimento.fraseDestaque}}
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
<!--
  <ion-card *ngFor="let estabelecimento of estabelecimentos; let i = index">
    <img *ngIf="estabelecimento.imagemCapa" [src]="estabelecimento.imagemCapa">
    <img *ngIf="!estabelecimento.imagemCapa" src="assets/img/no-photo.jpg">
    <ion-card-content>
      <ion-card-title>
        {{estabelecimento.nome}} {{i}}
        </ion-card-title>
      <p>
        {{estabelecimento.fraseDestaque}}
      </p>
    </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" (click)="onSelectEstabelecimento(estabelecimento)" icon-left>
            <ion-icon name='arrow-forward'></ion-icon>
            Visualizar
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" (click)="call(estabelecimento)" icon-left>
            <ion-icon name='call'></ion-icon>
            Ligar
          </button>
        </ion-col>
      </ion-row>
  </ion-card>
  -->
</ion-content>
